{% extends "registration/registration_base.html" %}
{% block title %}"Registration Successfull"{% endblock %}
{% block content %}

    <h1>Registration Successfull</h1>
    Hi <b>{{ user.first_name }}</b>, your registration is complete, now you can access. click <a href="{% url 'index' %}">here</a> to access.

{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}