{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script>
    $(document).ready(function(){
        var url='{% url  "reservation_getreserveddates" reservation_id=0 %}';
        loadDates(url);
    });
</script>
{% endblock %}

{% block content %}


<h1>Editar Reservacion</h1>
    Hola {{ user.first_name }}, llena el formulario para comenzar la reservación {{ reservation.pk }}<br>
    {{ optionalText }}
    <form method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="enviar" />
        <input type="reset" value="clear" />
    </form>
    <a href="{% url "reservation_info" reservation_id=reservation.pk %}">Volver</a>


{% endblock %}
