{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script>
    $(document).ready(function(){
        var url='{% url  "reservation_get_reserved_dates" reservation_id=0 %}';
        loadDates(url);
    });
</script>
{% endblock %}

{% block content %}

    {% if edit %}
        <h1>Editar Reservacion</h1>
    {% else %}
        <h1>Crear Reservaciones</h1>
    {% endif %}
<div class="col-md-8">
    <div>
        Hola {{ user.first_name }}, llena el formulario para
        {% if edit %}
            modificar la reservación {{ reservation }}
        {% else %}
            comenzar la reservación
        {% endif %}
        <form method="post" class="form" >
            {% csrf_token %}
            {{ form.as_p }}
        <br />
        <div>
            <input class="btn btn-sm" type="submit" value="{% if edit %}Modificar{% else %}Crear{% endif %}" />
            <input class="btn btn-sm" type="reset" value="clear" />
        </div>
        <br />
        </form>
    </div>
    <div>
        {% if edit %}
            <a class="btn btn-xs btn-info" role="button" href="{% url "reservation_info" reservation_id=reservation.pk %}">Volver a la reserva</a>
        {% endif %}
        <a class="btn btn-xs btn-info" role="button" href="{% url "reservations_index" %}">Volver al index</a>
    </div>
</div>

{% endblock %}
