{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'reservations_list' %}">Mis reservas</a><br/>
    <a href="{% url "reservations_new" %}">Nueva Reservación</a><br/>
    <a href="{% url "auth_logout" %}">Log Out</a>
    {% else %}
    Tiene que estar registrado para acceder al modulo de reservas
        <a class="btn btn-xs btn-primary" href="{% url "auth_login" %}">Log In</a> <br/>
        <a class="btn btn-xs btn-default" href="{% url "registration_register" %}">Register</a>
    {% endif %}

{% endblock %}
