{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <h1>View Reservation</h1>

        <h2>Reservation: {{ reservation }}</h2>

        <h3> Reservation Info </h3>
        <div>Qty: {{ reservation.qty }}</div>
        <div>Fecha: {{ reservation.date }}</div>

        <div>Status:
            {% if reservation.status == 'P' %}
                Pagada.</div>
                <div><br/><a class="btn btn-xs btn-info" role="button" href="{% url 'payment_success' reservation_id=reservation.pk %}">Invoice</a></div>
            {% else %}
                Pendiente.</div>
                <div>Su reserva fue realizada el dia {{ reservation.reservation_date }}<br/>dispone de 24 horas a partir de esta fecha para realizar el pago o su reserva sera cancelada</div>


                <div>
                <br/>
                <a class="btn btn-xs btn-primary" role="button" href="{% url 'reservation_payment' reservation_id=reservation.pk %}">Pagar Ahora</a>
                <a class="btn btn-xs btn-warning" role="button" href="{% url 'reservation_edit' reservation_id=reservation.pk %}">Editar</a>
                <a class="btn btn-xs btn-danger" role="button" href="{% url 'reservation_delete' reservation_id=reservation.pk %}">Eliminar</a></div>


		{% endif %}
    <div><br/><a class="btn btn-xs btn-info" role="button" href="{% url 'reservations_index' %}">Volver</a></div>
{% endblock %}
