{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script>
    $(document).ready(function(){
        var url='{% url  "reservation_getreserveddates" reservation_id=0 %}';
        loadDates(url);
    });
</script>
{% endblock %}

{% block content %}


<h1>Crear Reservaciones</h1>
<div class="col-md-8">
    <div>
        Hola {{ user.first_name }}, llena el formulario para comenzar la reservación
        <form method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="enviar" />
            <input type="reset" value="clear" />
        </form>
    </div>
    <div>
        <br>
        <a class="btn btn-xs btn-info" role="button" href="{% url "reservations_index" %}">Volver</a>
    </div>
</div>

{% endblock %}
