{% extends "base.html" %}
{% load staticfiles %}
{% load reservations_tags %}
{% block content %}

    <h1>Payment Success</h1>
    <h2>Reservation:</h2>

	{% info_tag reservation %}
    <h3> Payment Info </h3>
	<div>Payment Date: {{reservation.payment_date}}</div>
	<div>Amount: {{reservation.value }}</div>
	{% if reservation.payment_choice == 'S' %}
	<div>Card: {{card}} ending in {{last4}}</div>
    {% elif reservation.payment_choice == 'P' %}
    <div>Invoice: {{ invoice }}</div>
    <div>txn_id: {{ txn_id }}</div>

    {% endif %}
    <a class="btn btn-xs btn-info" role="button" href="{% url 'reservation_info' reservation_id=reservation.pk %}">Volver</a>

{% endblock %}
