{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <h1>Payment Success</h1>
    <h2>Reservation: {{ reservation }}</h2>
	<h3> Reservation Info </h3>
	<div>Qty: {{reservation.qty }}</div>
	<div>Date: {{reservation.date}}</div>
	<h3> Payment Info </h3>
	<div>Payment Date: {{reservation.payment_date}}</div>
	<div>Amount: {{reservation.value }}</div>
	<div>Card: {{card}} ending in {{last4}}</div>
    <a class="btn btn-xs btn-info" role="button" href="{% url 'reservation_info' reservation_id=reservation.pk %}">Volver</a>

{% endblock %}
