{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <h1>Payment</h1>
    <h2>Reservation: {{ reservation }}</h2>
    {{ reservation.value }}
    {% if error_exist %}
    <div class="error">Error: {{ error_msg }} </div>
    {% endif %}
    <form action="" method="POST">
	{% csrf_token %}
	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		data-key="{{ stripe_key }}"
		data-amount="{{ amount }}"
		data-name="Demo Site"
		data-description="{{reservation}} (${{ reservation.value }})"
		data-image="{% static "img/image.png" %}"
		data-locale="auto">
	</script>
</form>
<a href="{% url 'reservation_info' reservation_id=reservation.pk %}">volver a la info</a> 
{% endblock %}
