{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <h1>Payment Success</h1>
    <h2>Reservation: {{ reservation }}</h2>
	<h3> Reservation Info </h3>
	<div>Qty: {{rservation.qty }}</div>
	<div>Date: {{reservation.date}}</div>
	<h3> Payment Info </h3>
	<div>Payment Date: {{reservation.payment_date}}</div>
	<div>Confirmation: {{ reservation.payment_confirmation }}</div>
	<div>Amount: {{reservation.value }}</div>

<a href="{% url 'reservation_info' reservation_id=reservation.pk %}">volver a la info</a> 
{% endblock %}
